.lightPara {
  color: #767272;
  font-weight: 100;
}

.icons {
  color: #959393;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.navbar-toggle {
  border: none !important;
  background-color: transparent !important;
}
.navbar-toggle:hover {
  border: none !important;
  background-color: transparent !important;
}
.navbar-toggle:focus {
  border: none !important;
  background-color: transparent !important;
}

.navbar li:focus {
  background: transparent !important;
}
.navbar li:active {
  background: transparent !important;
}
.navbar li a {
  background: transparent !important;
}
.navbar li a:focus {
  background: transparent !important;
}
.navbar li a:active {
  background: transparent !important;
}
.navbar .dropdown-menu {
  background: transparent;
  padding: 20px;
  border: none;
  width: 500px;
  box-shadow: none;
}
.navbar .dropdown-menu .input-group {
  border-radius: 0px;
}
.navbar .dropdown-menu .input-group input {
  border-radius: 0px;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
}
.navbar .dropdown-menu .input-group .btn {
  border-radius: 0px;
  border: 1px solid #fff;
}

.whiteBack .dropdown-menu input {
  background: #fff !important;
  border-color: #2a2a2a !important;
}
.whiteBack .dropdown-menu .btn {
  border-color: #2a2a2a !important;
}

.navbarScrolled .dropdown-menu {
  background: #2a2a2a !important;
}
.navbarScrolled .dropdown-menu input {
  background: transparent !important;
  border-color: #fff !important;
}
.navbarScrolled .dropdown-menu .btn {
  border-color: #fff !important;
}

#eventsCarousel .carousel-control {
  background-image: none !important;
  padding-top: 50vh;
  color: #000;
  font-size: 100px;
  opacity: 1;
  -webkit-text-stroke: 6px white;
  text-shadow: none;
}
#eventsCarousel .carousel-control:hover {
  color: #000;
}
#eventsCarousel .carousel-control:focus {
  color: #000;
}
#eventsCarousel .carousel .left {
  padding-right: 30px;
}
#eventsCarousel .carousel .right {
  padding-left: 25px;
}

#tourenCarousel .carousel-indicators {
  display: none;
}
#tourenCarousel .carousel-control {
  background-image: none !important;
  color: #fff;
  font-size: 50px;
  top: 15vh;
  opacity: 1;
  -webkit-text-stroke: 2px #2a2a2a;
  text-shadow: none;
}
@media (max-width: 768px) {
  #tourenCarousel .carousel-control {
    margin-top: -5vh;
  }
}
#tourenCarousel .carousel-control:hover {
  color: #fff;
}
#tourenCarousel .carousel-control:focus {
  color: #fff;
}
#tourenCarousel .left {
  padding-right: 15px;
}
@media (max-width: 480px) {
  #tourenCarousel .left {
    margin-left: -30px;
  }
}
#tourenCarousel .right {
  padding-left: 15px;
}
@media (max-width: 480px) {
  #tourenCarousel .right {
    margin-right: -30px;
  }
}

#alsoLikeCarousel {
  display: none;
  margin-top: 30px;
}
@media (max-width: 768px) {
  #alsoLikeCarousel {
    display: block;
  }
}
#alsoLikeCarousel .carousel-indicators {
  display: none;
}
#alsoLikeCarousel .carousel-control {
  background-image: none !important;
  color: #000;
  font-size: 50px;
  padding-top: 35vh;
  opacity: 1;
  -webkit-text-stroke: 2px #fff;
  text-shadow: none;
}
@media (max-width: 768px) {
  #alsoLikeCarousel .carousel-control {
    padding-top: 10vh;
  }
}
#alsoLikeCarousel .carousel-control:hover {
  color: #ooo;
}
#alsoLikeCarousel .carousel-control:focus {
  color: #ooo;
}
#alsoLikeCarousel .left {
  padding-right: 15px;
}
#alsoLikeCarousel .right {
  padding-left: 15px;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

@font-face {
  font-family: 'lib-reg';
  src: url("../fonts/lib-font/LiberationSans-Regular.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/lib-font/LiberationSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'lib-bold';
  src: url("../fonts/lib-font/LiberationSans-Bold.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/lib-font/LiberationSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Helvetica Neue Reg';
  src: url("../fonts/helv/HelveticaNeue.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/helv/HelveticaNeue.ttf") format("truetype");
}
@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url("../fonts/helv/HelveticaNeueBd.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/helv/HelveticaNeueBd.ttf") format("truetype");
}
html {
  overflow-x: hidden !important;
}

body {
  font-family: "Helvetica Neue", "lib-reg", 'Roboto', 'Helvetica Neue Bold', verdana;
  overflow-x: hidden !important;
  background-color: #f6f6f6;
}

.fa {
  cursor: pointer;
}

@media (max-width: 768px) {
  .notMob {
    display: none;
  }

  .yesMob {
    display: block;
  }
}
@media (min-width: 769px) {
  .notMob {
    display: block;
  }

  .yesMob {
    display: none;
  }
}
.backgroundElements {
  overflow-x: hidden !important;
  position: fixed;
  height: 100%;
  float: left;
  z-index: 1;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
@media (max-width: 992px) {
  .backgroundElements {
    display: none;
  }
}
.backgroundElements .bordered {
  z-index: 500;
  height: 100%;
  border-right: 1px solid rgba(119, 119, 119, 0.1);
}

.sectionInfo {
  overflow-x: hidden !important;
}
@media (max-width: 992px) {
  .sectionInfo {
    padding-left: 30px;
  }
}

.aboveDiv {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.aboveDiv .textures {
  position: absolute;
  z-index: 3;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
@media (max-width: 992px) {
  .aboveDiv .textures {
    display: none;
  }
}
.aboveDiv .textures .debris {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.aboveDiv .textures .debris .highBar1 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 15px;
  height: 190px;
  background-color: #000;
  opacity: .2;
  margin-top: 55vh;
}
.aboveDiv .textures .debris .highBar2 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 15px;
  height: 190px;
  background-color: #000;
  opacity: .2;
  margin-top: 130px;
}
.aboveDiv .textures .debris .smallSquare1 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 15px;
  height: 15px;
  background-color: #000;
  opacity: .2;
  margin-top: -290px;
}
.aboveDiv .textures .debris .smallSquare2 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 15px;
  height: 15px;
  background-color: #000;
  opacity: .5;
  margin-top: -50vh;
}
.aboveDiv .textures .debris .dash1 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 15px;
  height: 15px;
  border-bottom: 1px solid #000;
  opacity: .2;
  margin-top: 40px;
}
.aboveDiv .textures .debris .dash2 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 15px;
  height: 15px;
  border-bottom: 1px solid #000;
  opacity: .2;
  margin-top: 30px;
}
.aboveDiv .textures .debris .dash3 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 15px;
  height: 15px;
  border-bottom: 1px solid #000;
  opacity: .2;
  margin-top: 5px;
}
.aboveDiv .textures .debris .dashSquare {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 15px;
  height: 15px;
  background-color: #000;
  opacity: .8;
  margin-top: 5px;
}
.aboveDiv .textures .numberTexture {
  position: absolute;
  z-index: 2;
  font-weight: 900;
}
.aboveDiv .textures .numberTexture h1 {
  font-size: 400px;
  color: #cccccc;
  opacity: .3;
  -webkit-text-stroke: 20px;
  z-index: 2;
  margin-left: 100px;
  margin-top: 55vh;
}
@media (min-width: 1466px) {
  .aboveDiv .textures .numberTexture h1 {
    margin-left: 280px;
  }
}

.loadingImg {
  background: url("../images/spin.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* ALTER BOOTSTRAP NAVBAR BREAKPOINT TO 991PX */
@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }

  .navbar-left, .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
    color: #fff !important;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
  }
}
.navbar {
  padding-top: 10px;
  background-color: transparent;
  border: none;
  z-index: 4;
}
@media (min-width: 992px) {
  .navbar {
    padding: 50px;
  }
}
@media (max-width: 992px) {
  .navbar {
    padding-left: 0px;
    padding-left: 0px;
  }
  .navbar .navbar-collapse {
    background: #2a2a2a;
  }
}
@media (min-width: 1200px) {
  .navbar .navbar-left {
    margin-left: 43px;
    margin-top: -30x;
  }
}
@media (min-width: 1500px) {
  .navbar .navbar-left {
    margin-left: 78px;
    margin-top: -30x;
  }
}
.navbar .navbar-left img {
  width: 75%;
}
@media (max-width: 992px) {
  .navbar .navbar-left img {
    width: 20%;
  }
}
@media (max-width: 768px) {
  .navbar .navbar-left img {
    width: 20%;
    margin-left: 60px;
    margin-top: 20px;
  }
}
@media (max-width: 450px) {
  .navbar .navbar-left img {
    width: 30%;
    margin-left: 30px;
  }
}
.navbar .navbar-toggle {
  color: #fff;
  border: none;
  border-radius: 0px;
  margin-right: 60px;
  margin-top: 20px;
  font-size: 30px;
}
.navbar .dropdown-menu input {
  color: #fff;
}
@media (min-width: 1302px) {
  .navbar .navbar-right {
    margin-right: 75px;
  }
}
.navbar li {
  padding: 15px;
}
@media (max-width: 992px) {
  .navbar li {
    width: 100%;
    text-align: center;
  }
}
.navbar li a {
  color: #fff !important;
  font-size: 16px;
  text-transform: uppercase;
  padding: 2px;
}
.navbar li a.active {
  padding: 5px;
  margin-top: -5px;
  border: 1px solid #c1c1c1;
}

.whiteBack li a {
  color: #2a2a2a !important;
}
@media (min-width: 1200px) {
  .whiteBack .navbar-left {
    margin-left: 55px;
    margin-top: -30x;
  }
}
@media (min-width: 1500px) {
  .whiteBack .navbar-left {
    margin-left: 92px;
    margin-top: -30x;
  }
}
.whiteBack .navbar-left img {
  width: 75%;
}
@media (max-width: 992px) {
  .whiteBack .navbar-left img {
    width: 20%;
  }
}
@media (max-width: 768px) {
  .whiteBack .navbar-left img {
    width: 20%;
    margin-left: 60px;
    margin-top: 20px;
  }
}
@media (max-width: 450px) {
  .whiteBack .navbar-left img {
    width: 30%;
    margin-left: 30px;
  }
}
.whiteBack input {
  color: #000 !important;
}
.whiteBack .navbar-toggle {
  color: #2a2a2a !important;
}
@media (max-width: 992px) {
  .whiteBack li a {
    color: #fff !important;
  }
}

.navbarScrolled {
  background: #2a2a2a;
  padding: 25px;
}
@media (max-width: 992px) {
  .navbarScrolled {
    padding: 0px;
  }
}
.navbarScrolled .navbar-toggle {
  color: #fff !important;
}
@media (min-width: 992px) {
  .navbarScrolled .navbar-right {
    margin-right: 100px;
    margin-left: -75px;
    margin-top: 15px;
  }
}
.navbarScrolled .navbar-left img {
  width: 45%;
}
@media (min-width: 1200px) {
  .navbarScrolled .navbar-left {
    margin-left: 87px;
    margin-top: -30x;
  }
}
.navbarScrolled .navbar-left img {
  width: 60%;
}
@media (max-width: 992px) {
  .navbarScrolled .navbar-left img {
    width: 20%;
  }
}
@media (max-width: 768px) {
  .navbarScrolled .navbar-left img {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .navbarScrolled .navbar-left img {
    width: 30%;
  }
}
.navbarScrolled input {
  color: #fff !important;
}
.navbarScrolled li a {
  color: #fff !important;
}
.navbarScrolled li a.active {
  border-color: #d0d0d0;
}

.header {
  overflow-x: hidden !important;
  height: 90vh;
  background: url("../images/home/mainBackground.png");
  background-size: cover;
  background-attachment: scroll;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: -20px !important;
}
@media (min-width: 1000px) {
  .header {
    background-position: 100% 50%;
  }
}
@media (max-width: 1000px) {
  .header {
    background-position: 90% 50%;
  }
}
.header .headerInner {
  padding-right: 0px;
  padding-left: 0px;
  z-index: 3;
}
.header .headContent {
  z-index: 3;
  margin-top: 20vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
@media (min-width: 1366px) {
  .header .headContent {
    margin-top: 15vh;
  }
}
@media (min-width: 768px) {
  .header .headContent {
    padding-top: 50px;
  }
}
.header .headContent .introHead {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.header .headContent .introHead h1 a {
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  margin-bottom: -5px;
  text-decoration: none !important;
}
@media (max-width: 500px) {
  .header .headContent .introHead h1 a {
    font-size: 28px;
  }
}
.header .headContent .introHead .underLine {
  height: 15px;
  background: #fff;
  width: 100%;
}
@media (max-width: 768px) {
  .header .headContent .introHead .underLine {
    height: 10px;
  }
}
.header .headContent .introHead a.introPar {
  margin-top: 30px;
  padding-left: 0px;
  color: #fff;
  text-decoration: none !important;
}
.header .partners {
  margin-top: 20vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
@media (max-width: 992px) {
  .header .partners {
    display: none;
  }
}
.header .partners p {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.header .partners .partnerIcons {
  margin-top: 22px;
}
.header .numbers {
  margin-top: 20vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
  color: #fff;
  font-weight: 100;
}
@media (max-width: 992px) {
  .header .numbers {
    display: none;
  }
}
.header .numbers span {
  padding: 3px;
}
.header .numbers .activeNumber {
  background: rgba(0, 0, 0, 0.5);
}
.header .searchDiv {
  padding: 30px;
  padding-top: 0px;
  background: #fff;
  margin-top: -185px;
  z-index: 4;
  display: none;
}
.header .searchDiv input:not([type='checkbox']):not([type='submit']) {
  background: transparent;
  border: none;
  border-bottom: 2px solid #000;
}
.header .searchDiv label {
  width: 40%;
}
.header .searchDiv input {
  margin-bottom: 20px;
  width: 30%;
}
.header .searchDiv input[type='submit'] {
  background: #000;
  color: #fff;
  width: 70%;
  border-radius: 0px;
  border: none;
  height: 25px;
  padding-top: 3px;
  margin-top: 30px;
}
.header .closeSearch p {
  cursor: pointer;
  display: inline-block;
  margin-left: -45px;
}

.events {
  overflow-x: hidden !important;
  padding-top: 50px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.events .textures {
  position: absolute;
  z-index: 3;
  margin-top: -50px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
@media (max-width: 992px) {
  .events .textures {
    display: none;
  }
}
.events .textures .debris {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.events .textures .debris .fa {
  margin-top: -190px;
  margin-left: -20px;
  color: #a5a5a5;
}
.events .eventsInner {
  z-index: 2;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 80px;
}
.events .eventsInner .numCrumb {
  margin-bottom: -20px;
  font-weight: 100;
  color: #5d5d5d;
}
.events .eventsInner .numCrumb .activeNum {
  font-size: 18px;
  color: #292929;
}
.events .eventsInner h2 {
  font-weight: 900;
  text-transform: uppercase;
}
.events .eventsInner .miniHR {
  width: 2%;
  background: #000;
  border-color: #000;
  margin-left: 0px;
}
.events .eventsInner .paraHolder {
  margin-left: -15px;
}
.events .eventsInner .paraHolder .bar {
  padding-left: 15px;
  height: 15px;
  width: 70%;
  margin-top: 30px;
  background: #d4d4d4;
}
@media (max-width: 992px) {
  .events .eventsInner .paraHolder .bar {
    display: none;
  }
}
.events .eventsInner .carousel {
  padding-top: 0px !important;
  display: none;
}
@media (max-width: 992px) {
  .events .eventsInner .carousel {
    display: block;
  }
}
@media (min-width: 992px) {
  .events .eventsInner .first {
    padding-left: 0px;
  }
}
.events .eventsInner .first .box {
  padding-top: 20vh;
  background: url("../images/home/firstThreeColour.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.events .eventsInner .first .box .boxOverlay {
  height: 100vh;
  margin-top: -20vh;
  padding-top: 20vh;
  background-color: rgba(27, 25, 24, 0.5);
  transition: .5s;
  text-shadow: 1px 1px #000;
}
.events .eventsInner .first .box .boxOverlay:hover {
  background-color: rgba(27, 25, 24, 0);
}
.events .eventsInner .first .box .btn {
  width: 80%;
  text-transform: uppercase;
  font-weight: 300;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0px;
  color: #fff;
}
@media (min-width: 992px) {
  .events .eventsInner .second {
    margin-top: -80px;
  }
}
.events .eventsInner .second .box {
  padding-top: 20vh;
  background: url("../images/home/secondThreeColour.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.events .eventsInner .second .box .boxOverlay {
  height: 100vh;
  margin-top: -20vh;
  padding-top: 20vh;
  background-color: rgba(69, 84, 90, 0.61);
  transition: .5s;
  text-shadow: 1px 1px #000;
}
.events .eventsInner .second .box .boxOverlay:hover {
  background-color: rgba(69, 84, 90, 0);
}
.events .eventsInner .second .box .btn {
  width: 80%;
  text-transform: uppercase;
  font-weight: 300;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0px;
  color: #fff;
}
@media (min-width: 992px) {
  .events .eventsInner .third {
    padding-right: 0px;
  }
}
.events .eventsInner .third .box {
  padding-top: 20vh;
  background: url("../images/home/thirdThreeColour.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.events .eventsInner .third .box .boxOverlay {
  height: 100vh;
  margin-top: -20vh;
  padding-top: 20vh;
  background-color: rgba(129, 146, 153, 0.5);
  transition: .5s;
  text-shadow: 1px 1px #000;
}
.events .eventsInner .third .box .boxOverlay:hover {
  background-color: rgba(129, 146, 153, 0);
}
.events .eventsInner .third .box .btn {
  width: 80%;
  text-transform: uppercase;
  font-weight: 300;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0px;
  color: #fff;
}
.events .eventsInner .threeGrid {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 60px;
}
@media (max-width: 992px) {
  .events .eventsInner .threeGrid {
    display: none;
  }
}

.magazine {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
@media (min-width: 480px) {
  .magazine {
    padding-top: 80px;
  }
}
.magazine .numberTexture {
  position: absolute;
  z-index: 2;
  font-weight: 900;
}
.magazine .numberTexture h1 {
  font-size: 400px;
  color: #cccccc;
  opacity: .3;
  -webkit-text-stroke: 20px;
  z-index: 2;
  margin-left: -150px;
  margin-top: -100px;
}
@media (min-width: 1466px) {
  .magazine .numberTexture h1 {
    margin-left: -70px;
  }
}
.magazine .textures {
  position: absolute;
}
@media (max-width: 992px) {
  .magazine .textures {
    display: none;
  }
}
.magazine .textures .debris .block {
  height: 20px;
  background: #d4d3d3;
  width: 120px;
}
.magazine .textures .debris .fa {
  margin-top: -100px;
  color: #e0e0e0;
  -webkit-text-stroke: 1px #fff;
}
.magazine .textures .debris .square {
  height: 20px;
  margin-top: -20px;
  margin-left: 140px;
  background-color: #d4d3d3;
  width: 20px;
}
.magazine .textures .debris .square-border {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background-color: #e0e0e0;
  margin-top: 0px;
}
.magazine .textures .debris .square-border2 {
  display: inline-block;
  height: 20px;
  margin-right: 12px;
  border-right: 1px solid #e0e0e0;
  margin-top: 10px;
}
.magazine .textures .debris .square-border3 {
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  border-right: 1px solid #e0e0e0;
  margin-top: 10px;
}
.magazine .textures .debris .square-border4 {
  display: inline-block;
  height: 20px;
  margin-right: 7px;
  border-right: 1px solid #e0e0e0;
  margin-top: 10px;
}
.magazine .textures .debris .square-border5 {
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  border-right: 1px solid #e0e0e0;
  margin-top: 10px;
}
.magazine .textures .debris .square-border6 {
  display: inline-block;
  height: 20px;
  margin-right: 2px;
  border-right: 1px solid #e0e0e0;
  background-color: #e0e0e0;
  margin-top: 10px;
}
.magazine .magazineInner {
  z-index: 2;
  padding-top: 100px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.magazine .magazineInner .numCrumb {
  margin-bottom: -20px;
  font-weight: 100;
  color: #5d5d5d;
}
.magazine .magazineInner .numCrumb .activeNum {
  font-size: 18px;
  color: #292929;
}
.magazine .magazineInner h2 {
  font-weight: 900;
  text-transform: uppercase;
}
.magazine .magazineInner .miniHR {
  width: 2%;
  background: #000;
  border-color: #000;
  margin-left: 0px;
}
.magazine .magazineInner .paraHolder {
  margin-left: -15px;
}
.magazine .magazineInner .magazineGrid {
  margin-top: 40px;
  padding-top: 50px;
}
@media (min-width: 992px) {
  .magazine .magazineInner .magazineGrid {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.magazine .magazineInner .magazineGrid .magazineBlock.col-lg-6 .bigImg {
  padding-right: 0px;
}
.magazine .magazineInner .magazineGrid .magazineBlock.col-lg-6 .smallImgs {
  padding-left: 0px;
}
.magazine .magazineInner .magazineGrid .magazineBlock.col-lg-6:nth-child(1) {
  margin-top: -230px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.magazine .magazineInner .magazineGrid .magazineBlock.col-lg-6:nth-child(3) {
  margin-top: -150px;
}
@media (max-width: 992px) {
  .magazine .magazineInner .magazineGrid .magazineBlock.col-lg-6:nth-child(3) {
    display: none;
  }
}
@media (min-width: 992px) {
  .magazine .magazineInner .magazineGrid .row .magazineBlock:nth-child(1) {
    padding-right: 60px;
  }
  .magazine .magazineInner .magazineGrid .row .magazineBlock:nth-child(2) {
    padding-left: 30px;
    padding-right: 30px;
  }
  .magazine .magazineInner .magazineGrid .row .magazineBlock:nth-child(3) {
    padding-left: 60px;
  }
}
.magazine .magazineInner .magazineGrid .magazineBlock {
  margin-bottom: 50px;
}
.magazine .magazineInner .magazineGrid .magazineBlock img {
  width: 100%;
}
.magazine .magazineInner .magazineGrid .magazineBlock .category {
  text-transform: uppercase;
  margin-top: 15px;
}
.magazine .magazineInner .magazineGrid .magazineBlock a {
  color: #2a2a2a;
  text-decoration: none !important;
}
.magazine .magazineInner .magazineGrid .magazineBlock h3 {
  font-weight: 900;
  color: #313130;
}
.magazine .magazineInner .magazineGrid .magazineBlock p {
  color: #767272;
}
.magazine .magazineInner .magazineGrid .magazineBlock .miniHR {
  width: 5%;
  margin-left: 0px;
  background: #000;
  border-color: #000;
}
.magazine .magazineInner .magazineGrid .magazineBlock .continue {
  padding-left: 0px;
}
.magazine .magazineInner .magazineGrid .magazineBlock .icons {
  color: #959393;
}
@media (max-width: 1500px) {
  .magazine .magazineInner .magazineGrid .smallHide {
    display: none;
  }
}

.lessTop {
  margin-top: -100px;
}

.magPage .textures {
  position: absolute;
  margin-top: -80px;
}
@media (max-width: 992px) {
  .magPage .textures {
    display: none;
  }
}
.magPage .textures .debris .block {
  display: inline-block;
  height: 20px;
  background: #e0e0e0;
  width: 120px;
}
.magPage .textures .debris .square {
  display: inline-block;
  height: 20px;
  margin-top: -20px;
  margin-left: 140px;
  background-color: #2a2a2a;
  width: 20px;
  margin-right: 30px;
}
.magPage .textures .debris .block2 {
  display: inline-block;
  height: 20px;
  background: #2a2a2a;
  width: 170px;
  margin-right: -20px;
}
.magPage .textures .debris .square-border {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background-color: #e0e0e0;
  margin-top: 0px;
}
.magPage .textures .debris .square-border2 {
  display: inline-block;
  height: 20px;
  margin-right: 12px;
  border-right: 1px solid #e0e0e0;
  margin-top: 10px;
}
.magPage .textures .debris .square-border3 {
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  border-right: 1px solid #e0e0e0;
  margin-top: 10px;
}
.magPage .textures .debris .square-border4 {
  display: inline-block;
  height: 20px;
  margin-right: 7px;
  border-right: 1px solid #e0e0e0;
  margin-top: 10px;
}
.magPage .textures .debris .square-border5 {
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  border-right: 1px solid #e0e0e0;
  margin-top: 10px;
}
.magPage .textures .debris .square-border6 {
  display: inline-block;
  height: 20px;
  margin-right: 2px;
  border-right: 1px solid #e0e0e0;
  background-color: #e0e0e0;
  margin-top: 10px;
}

.numberTexture3 {
  position: absolute;
  z-index: 2;
  font-weight: 900;
  margin-top: -430px;
}
.numberTexture3 h1 {
  font-size: 400px;
  color: #cccccc;
  opacity: .3;
  -webkit-text-stroke: 20px;
  z-index: 2;
  margin-left: -180px;
  margin-top: -250px;
}
@media (min-width: 1466px) {
  .numberTexture3 h1 {
    margin-left: -60px;
  }
}

@media (max-width: 992px) {
  .textures3 {
    display: none;
  }
}
.textures3 .debris {
  z-index: 3;
}
.textures3 .debris .block {
  height: 20px;
  background: #e0e0e0;
  width: 150px;
  margin-top: 290px;
  margin-left: -70px;
}
.textures3 .debris .numBlock {
  width: 20px;
  height: 110px;
  background: #818181;
  margin-top: -90px;
}
.textures3 .debris .square {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 30px;
  margin-left: 8px;
  margin-top: 60px;
  background-color: #1c1c1c;
}
.textures3 .debris .border1 {
  display: inline-block;
  height: 20px;
  margin-right: 6px;
  border-right: 1px solid #adadad;
}
.textures3 .debris .border2 {
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  border-right: 1px solid #adadad;
}
.textures3 .debris .border3 {
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  border-right: 1px solid #adadad;
}
.textures3 .debris .border4 {
  display: inline-block;
  height: 20px;
  margin-right: 15px;
  border-right: 1px solid #adadad;
}
.textures3 .debris .border5 {
  display: inline-block;
  height: 20px;
  margin-right: 25px;
  border-right: 1px solid #adadad;
}
.textures3 .debris .border6 {
  display: inline-block;
  height: 20px;
  margin-right: 25px;
  border-right: 1px solid #adadad;
}
.textures3 .debris .border7 {
  display: inline-block;
  height: 20px;
  margin-right: 25px;
  border-right: 1px solid #adadad;
}
.textures3 .debris .border8 {
  display: inline-block;
  height: 20px;
  margin-right: 30px;
  border-right: 1px solid #adadad;
}
.textures3 .debris .border9 {
  display: inline-block;
  height: 20px;
  margin-right: 60px;
  border-right: 1px solid #adadad;
}
.textures3 .debris .border10 {
  display: inline-block;
  height: 20px;
  border-right: 1px solid #adadad;
}
.textures3 .debris .sideBlock {
  width: 20px;
  height: 190px;
  margin-top: 190px;
  margin-left: 11px;
  background: #e0e0e0;
}

.tourentipps {
  overflow-x: hidden !important;
  margin-top: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
@media (min-width: 992px) {
  .tourentipps {
    padding-top: 200px;
  }
}
@media (min-width: 992px) {
  .tourentipps {
    padding-top: 200px;
    margin-top: -500px;
  }
}
.tourentipps .tourentippsInner {
  z-index: 2;
  padding-top: 30px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 120px;
}
.tourentipps .tourentippsInner .numCrumb {
  margin-bottom: -20px;
  font-weight: 100;
  color: #5d5d5d;
}
.tourentipps .tourentippsInner .numCrumb .activeNum {
  font-size: 18px;
  color: #292929;
}
.tourentipps .tourentippsInner h2 {
  font-weight: 900;
  text-transform: uppercase;
}
.tourentipps .tourentippsInner .miniHR {
  width: 2%;
  background: #000;
  border-color: #000;
  margin-left: 0px;
}
.tourentipps .tourentippsInner .paraHolder {
  margin-bottom: 70px;
  margin-left: -15px;
}
.tourentipps .tourentippsInner .tourenGrid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.tourentipps .tourentippsInner .gridItem {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-right: 0px !important;
}
.tourentipps .tourentippsInner .hovereffect {
  padding-left: 0px !important;
  padding-right: 0px !important;
  color: #2a2a2a;
  text-decoration: none !important;
  -webkit-backface-visibility: hidden;
}
.tourentipps .tourentippsInner .hovereffect .overlay {
  width: 100%;
  height: 100%;
  z-index: 99;
  padding: 20px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
}
.tourentipps .tourentippsInner .hovereffect:hover .overlay, .tourentipps .tourentippsInner .hovereffect:focus .overlay {
  background-color: rgba(255, 255, 255, 0.9);
}
.tourentipps .tourentippsInner .hovereffect img {
  display: block;
  width: 100%;
  position: relative;
  -webkit-backface-visibility: hidden;
}
.tourentipps .tourentippsInner .hovereffect h3 {
  opacity: 0;
  position: relative;
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #2a2a2a;
}
@media (max-width: 768px) {
  .tourentipps .tourentippsInner .hovereffect h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: -10px;
  }
}
.tourentipps .tourentippsInner .hovereffect .miniHR {
  opacity: 0;
  width: 4%;
  background: #868686;
  border-color: #868686;
  margin-left: 0px;
}
.tourentipps .tourentippsInner .hovereffect:hover hr, .tourentipps .tourentippsInner .hovereffect:focus hr {
  opacity: 1;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}
.tourentipps .tourentippsInner .hovereffect:hover h3, .tourentipps .tourentippsInner .hovereffect:focus h3 {
  opacity: 1;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}
.tourentipps .tourentippsInner .hovereffect .icons {
  opacity: 0;
  position: relative;
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.tourentipps .tourentippsInner .hovereffect:hover .icons, .tourentipps .tourentippsInner .hovereffect:focus .icons {
  opacity: 1;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}
.tourentipps .tourentippsInner .hovereffect p {
  font-size: 85%;
}
@media (max-width: 480px) {
  .tourentipps .tourentippsInner .hovereffect .introText {
    display: none;
  }
}
.tourentipps .tourentippsInner .hovereffect p {
  z-index: 99;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 768px) {
  .tourentipps .tourentippsInner .hovereffect p {
    font-size: 12px;
  }
}
.tourentipps .tourentippsInner .hovereffect:hover p, .tourentipps .tourentippsInner .hovereffect:focus p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.tourentipps .tourentippsInner .hovereffect a {
  z-index: 99;
  opacity: 0;
  color: #2a2a2a;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.tourentipps .tourentippsInner .hovereffect:hover a, .tourentipps .tourentippsInner .hovereffect:focus a {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
@media (max-width: 768px) {
  .tourentipps .tourentippsInner .hovereffect i {
    margin: 0;
    font-size: 80%;
  }
}
.tourentipps .tourentippsInner .hovereffect .continue {
  padding-left: 0px;
}
.tourentipps .tourentippsInner .hovereffect p:hover, .tourentipps .tourentippsInner .hovereffect p:focus {
  box-shadow: 0 0 5px #fff;
}

.pageInfo {
  overflow-x: hidden !important;
  padding-top: 100px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  z-index: 2 !important;
  margin-bottom: 50px;
}
.pageInfo .bookNow {
  margin-top: 30px;
}
.pageInfo .bookNow .icons {
  margin-bottom: 30px;
}
.pageInfo .bookNow .bookBtn {
  width: 20%;
  background: #000;
  color: #fff;
  font-weight: 900;
  border-radius: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}
@media (max-width: 992px) {
  .pageInfo .bookNow .bookBtn {
    width: 40%;
  }
}
.pageInfo .pageTitle {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: .4em;
}
.pageInfo .breadCrumbs {
  background: #e0e0e0;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.pageInfo .breadCrumbs .crumbsInner {
  z-index: 2;
}
.pageInfo .breadCrumbs .crumbsInner a {
  color: #000;
}
.pageInfo .breadCrumbs .crumbsInner .crumbTrail {
  padding-top: 10px;
}
.pageInfo .breadCrumbs .crumbsInner .crumbTrail .crumb {
  font-weight: 300;
  text-transform: uppercase;
}
.pageInfo .breadCrumbs .crumbsInner .crumbTrail .crumb:not(:last-child) {
  font-weight: 700;
  text-decoration: none !important;
}
.pageInfo .breadCrumbs .crumbsInner .weatherInfo {
  padding-top: 10px;
  text-align: right;
}
@media (max-width: 768px) {
  .pageInfo .breadCrumbs .crumbsInner .weatherInfo {
    display: none;
  }
}
.pageInfo .breadCrumbs .crumbsInner .weatherInfo .fa-cloud {
  color: #e0e0e0;
  -webkit-text-stroke: 1px #000;
}

.tourenMap {
  display: none;
}

.bigMap {
  overflow-x: hidden !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.bigMap .dateTemp {
  background: #2a2a2a;
  padding: 20px;
}
.bigMap .dateTemp .dateTempInner {
  z-index: 2;
  color: #fff;
}
.bigMap .dateTemp .dateTempInner .chooseDate p.date {
  font-weight: 900;
  text-transform: uppercase;
  display: inline;
}
.bigMap .dateTemp .dateTempInner .chooseDate .dateFromTo {
  text-align: left;
  display: inline;
  margin-left: 60px;
}
.bigMap .dateTemp .dateTempInner .chooseDate .dateFromTo label {
  font-weight: 100;
}
.bigMap .dateTemp .dateTempInner .chooseDate .dateFromTo input {
  border: none;
  color: #fff;
  width: 30px;
  background: transparent;
}
.bigMap .dateTemp .dateTempInner .chooseDate .dateFromTo ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  text-align: center;
}
.bigMap .dateTemp .dateTempInner .chooseDate .dateFromTo ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  text-align: center;
}
.bigMap .dateTemp .dateTempInner .chooseDate .dateFromTo :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  text-align: center;
}
.bigMap .dateTemp .dateTempInner .chooseDate .dateFromTo :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  text-align: center;
}
.bigMap .dateTemp .dateTempInner .showTemp {
  text-align: center;
}
@media (max-width: 768px) {
  .bigMap .dateTemp .dateTempInner .showTemp {
    display: none;
  }
}

#mapkit-8499 {
  height: 70vh;
  z-index: 2;
  width: 100%;
}

.bigMapSmaller #mapkit-8499 {
  height: 50vh;
  z-index: 2;
  width: 100%;
  margin-bottom: 60px;
}

.hiddenCountries {
  display: none;
}

.countries {
  overflow-x: hidden !important;
  background: #2a2a2a;
  z-index: 2;
  color: #fff;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-top: 1px solid #fff;
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .countries {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.countries .countriesInner {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
@media (min-width: 768px) {
  .countries .countriesInner {
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
  }
}
@media (max-width: 768px) {
  .countries .countriesInner {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.countries .countriesInner .countryOption {
  cursor: pointer;
  text-transform: uppercase;
  padding: 40px;
}
.countries .countriesInner .countryOption h3 {
  font-size: 18px;
  font-weight: 900;
}
.countries .countriesInner .countryOption:not(:nth-child(4)) {
  border-bottom: 1px solid #888888;
}
@media (min-width: 768px) {
  .countries .countriesInner .countryOption:not(:nth-child(4)) {
    border-right: 1px solid #888888;
    border-bottom: none;
  }
}

.tourenTextures {
  z-index: 3 !important;
}
.tourenTextures .debris .block {
  height: 100px;
  background: rgba(0, 0, 0, 0.55);
  width: 20px;
  margin: 0 auto;
  margin-top: -50px;
}
@media (max-width: 992px) {
  .tourenTextures .debris .block {
    margin-bottom: -50px;
  }
}

.iw-toolbar {
  background-color: #000 !important;
}

.tourenEvents {
  overflow-x: hidden !important;
  background: #2a2a2a;
}
@media (min-width: 992px) {
  .tourenEvents {
    margin-top: -50px;
  }
}
.tourenEvents .tourenEventsInner {
  padding-top: 30px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 50px;
  z-index: 2;
  color: #fff;
  text-align: center;
}
.tourenEvents .tourenEventsInner .carousel .item .lightPara {
  color: #fff;
}
@media (max-width: 992px) {
  .tourenEvents .tourenEventsInner .carousel .item .carouselBlock:not(:nth-child(1)) {
    display: none;
  }
}
.tourenEvents .tourenEventsInner .carousel .item img {
  width: 100%;
}

#alsoLikeCarousel .miniHR {
  margin-left: auto;
}

.articles {
  margin-top: 30px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.articles .articlesInner {
  z-index: 2;
  padding-top: 30px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.articles .articlesInner .articleGrid {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 40px;
}
@media (min-width: 992px) {
  .articles .articlesInner .articleGrid .row .articleBlock:nth-child(1) {
    padding-right: 60px;
  }
  .articles .articlesInner .articleGrid .row .articleBlock:nth-child(2) {
    padding-left: 30px;
    padding-right: 30px;
  }
  .articles .articlesInner .articleGrid .row .articleBlock:nth-child(3) {
    padding-left: 60px;
  }
}
.articles .articlesInner .articleGrid .articleBlock {
  margin-bottom: 50px;
}
.articles .articlesInner .articleGrid .articleBlock a {
  color: #2a2a2a;
  text-decoration: none !important;
}
.articles .articlesInner .articleGrid .articleBlock img {
  width: 100%;
}
.articles .articlesInner .articleGrid .articleBlock .category {
  text-transform: uppercase;
}
.articles .articlesInner .articleGrid .articleBlock h2 {
  font-weight: 900;
  font-size: 20px;
}
.articles .articlesInner .articleGrid .articleBlock .miniHR {
  width: 5%;
  margin-left: 0px;
}
.articles .articlesInner .articleGrid .articleBlock .continue {
  padding-left: 0px;
}
.articles .articlesInner .articleGrid .articleBlock .icons {
  color: #959393;
}

.pages nav ul.pagination li a {
  border: none;
  color: #2a2a2a;
}
.pages nav ul.pagination li a.active {
  font-weight: 900;
}
.pages nav ul.pagination li a.active:hover {
  background-color: #fff;
}

.guideFeature .imageTop {
  text-align: left !important;
}
.guideFeature .imageTop img {
  width: 75%;
}
@media (max-width: 993px) {
  .guideFeature .imageTop img {
    width: 100%;
    margin-top: 30px;
  }
}
.guideFeature .imageBottom {
  text-align: right !important;
}
.guideFeature .imageBottom img {
  width: 75%;
  margin-top: -70px;
}
@media (max-width: 993px) {
  .guideFeature .imageBottom img {
    width: 100%;
    margin-top: 30px;
  }
}

.tourenFeature {
  overflow-x: hidden !important;
}
.tourenFeature .tourenFeatureInner {
  color: #222;
  padding-top: 30px;
  z-index: 2;
  padding-bottom: 80px;
}
.tourenFeature .tourenFeatureInner .miniHR {
  width: 5%;
  background: #000;
  border-color: #000;
  margin-left: 0px;
}
.tourenFeature .tourenFeatureInner .options {
  font-weight: 100;
  margin-bottom: 20px;
}
.tourenFeature .tourenFeatureInner .options span {
  padding-left: 0px;
  margin-bottom: 60px;
}
.tourenFeature .tourenFeatureInner .options span.active {
  font-weight: 700;
}
.tourenFeature .tourenFeatureInner .bar {
  height: 20px;
  background: #e0e0e0;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .tourenFeature .tourenFeatureInner .row {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .tourenFeature .tourenFeatureInner .tourenImages {
    order: 2;
    width: 100%;
  }
}
.tourenFeature .tourenFeatureInner .tourenImages .noDesktop {
  display: none;
}
@media (max-width: 992px) {
  .tourenFeature .tourenFeatureInner .tourenImages .noDesktop {
    display: block;
  }
}
.tourenFeature .tourenFeatureInner .tourenImages .bookNow {
  margin-top: 30px;
}
.tourenFeature .tourenFeatureInner .tourenImages .bookNow .icons {
  margin-bottom: 30px;
}
.tourenFeature .tourenFeatureInner .tourenImages .bookNow .bookBtn {
  width: 100%;
  background: #000;
  color: #fff;
  border-radius: 0px;
}
.tourenFeature .tourenFeatureInner .tourenImages .imageTop {
  text-align: right;
  z-index: 6;
}
.tourenFeature .tourenFeatureInner .tourenImages .imageTop img {
  width: 75%;
}
@media (max-width: 993px) {
  .tourenFeature .tourenFeatureInner .tourenImages .imageTop img {
    width: 100%;
    margin-top: 30px;
  }
}
.tourenFeature .tourenFeatureInner .tourenImages .imageBottom {
  text-align: left;
  z-index: 5;
}
.tourenFeature .tourenFeatureInner .tourenImages .imageBottom img {
  width: 75%;
  margin-top: -70px;
}
@media (max-width: 993px) {
  .tourenFeature .tourenFeatureInner .tourenImages .imageBottom img {
    width: 100%;
    margin-top: 30px;
  }
}
.tourenFeature .tourenFeatureInner .tourenImages .changeImage {
  padding-left: 0px;
}
.tourenFeature .tourenFeatureInner .tourenImages .changeImage .smallImg {
  width: 20%;
  float: left;
  text-align: left;
  margin-top: 30px;
}
.tourenFeature .tourenFeatureInner .tourenImages .changeImage .smallImg img {
  width: 75%;
  cursor: pointer;
}
.tourenFeature .tourenFeatureInner .tourenInfo {
  margin-top: -35px;
}
@media (max-width: 992px) {
  .tourenFeature .tourenFeatureInner .tourenInfo {
    order: 1;
    width: 100%;
  }
}
.tourenFeature .tourenFeatureInner .tourenInfo .darkP {
  color: #000;
  font-weight: 300;
}
.tourenFeature .tourenFeatureInner .tourenInfo h1 {
  font-size: 25px;
  font-weight: 900;
}
.tourenFeature .tourenFeatureInner .tourenInfo table {
  padding-left: 0px;
}
.tourenFeature .tourenFeatureInner .tourenInfo table td {
  padding: 3px;
  padding-left: 0px;
}
.tourenFeature .tourenFeatureInner .tourenInfo table .trTitle {
  font-weight: 900;
}
.tourenFeature .tourenFeatureInner .tourenInfo .infoPara {
  padding-left: 0px;
  margin-top: 30px;
}
.tourenFeature .tourenFeatureInner .infoSecond {
  margin-top: -20px;
}

@media (max-width: 768px) {
  .guideInfo .icons {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .guideInfo .socialIcons {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .guideInfo .phoneNo {
    text-align: center;
  }
}
.guideInfo .phoneNo a {
  color: #2a2a2a;
  text-decoration: none !important;
}

.magDet {
  margin-top: 50px;
}

.alsoLike {
  font-weight: 900;
  text-transform: uppercase;
}

.campsAccom {
  padding-left: 0px;
}

.checkOutOther {
  font-weight: 900;
  margin-top: 60px;
  margin-bottom: -30px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .checkOutOther {
    text-align: center;
  }
}
.checkOutOther a {
  color: #2a2a2a;
  text-decoration: none !important;
}

.magDetailArticles {
  margin-top: -120px;
}
@media (max-width: 768px) {
  .magDetailArticles {
    text-align: center;
  }
  .magDetailArticles img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .magDetailArticles .magazineBlock {
    display: none;
  }
}

.calendar {
  display: none;
  overflow-x: hidden !important;
}
.calendar .closeCalendar {
  cursor: pointer;
}
.calendar .calendarInner {
  margin-bottom: 100px;
  z-index: 2;
  /* Add media queries for smaller screens */
}
.calendar .calendarInner * {
  box-sizing: border-box;
}
.calendar .calendarInner ul {
  list-style-type: none;
}
.calendar .calendarInner .month {
  width: 100%;
}
.calendar .calendarInner .month ul {
  margin: 0;
  padding: 0;
}
.calendar .calendarInner .month ul li {
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.calendar .calendarInner .month .prev {
  float: left;
  padding-top: 10px;
}
.calendar .calendarInner .month .next {
  float: right;
  padding-top: 10px;
}
.calendar .calendarInner .weekdays {
  margin: 0;
  padding: 10px 0;
}
.calendar .calendarInner .weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}
.calendar .calendarInner .days {
  padding: 10px 0;
  margin: 0;
}
.calendar .calendarInner .days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 15px;
  font-size: 12px;
  color: #777;
}
.calendar .calendarInner .bookNow .btn {
  width: 50%;
  background: #000;
  color: #fff;
  font-weight: 900;
  border-radius: 0px;
}
.calendar .calendarInner .days li .active {
  padding: 5px;
  border: 1px solid #000;
}
.calendar .calendarInner .nextMonth li {
  color: #b1b1b1 !important;
}
@media screen and (max-width: 720px) {
  .calendar .calendarInner .weekdays li, .calendar .calendarInner .days li {
    width: 13.1%;
  }
}
@media screen and (max-width: 420px) {
  .calendar .calendarInner .weekdays li, .calendar .calendarInner .days li {
    width: 12.5%;
  }
  .calendar .calendarInner .days li .active {
    padding: 2px;
  }
}
@media screen and (max-width: 290px) {
  .calendar .calendarInner .weekdays li, .calendar .calendarInner .days li {
    width: 12.2%;
  }
}

.footer {
  overflow-x: hidden !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background: url("../images/footer/footerBack.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  z-index: 3;
}
.footer .footerInner {
  padding-top: 30px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 50px;
  z-index: 2;
}
.footer .footerInner .newsletter h3 {
  font-weight: bold;
}
.footer .footerInner .newsletter p {
  color: #fff;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .footer .footerInner .newsLetterPara {
    font-size: 80%;
  }
}
.footer .footerInner .category {
  text-transform: uppercase;
}
.footer .footerInner input {
  border-radius: 0px;
  background: transparent;
  border: 1px solid #5f5f5f;
  font-style: italic;
}
.footer .footerInner .input-group-btn {
  opacity: 1;
}
.footer .footerInner .input-group-btn button {
  opacity: 1;
  border-radius: 0px;
  background-color: #00b6ed !important;
  color: #fff;
  padding: 0px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #00b6ed;
}
.footer .footerInner .input-group-btn button i {
  font-size: 30px;
  color: #2a2a2a;
}
.footer .footerInner .footerThree {
  margin-top: 50px;
}
.footer .footerInner .footerThree .mobileSection {
  display: none;
}
.footer .footerInner .footerThree .desktopSection {
  display: block;
}
@media (max-width: 768px) {
  .footer .footerInner .footerThree .mobileSection {
    display: block;
  }
  .footer .footerInner .footerThree .mobileSection img {
    display: inline-block;
  }
  .footer .footerInner .footerThree .mobileSection .socialIcons {
    display: inline;
    font-size: 20px;
  }
  .footer .footerInner .footerThree .mobileSection .partners h5 {
    display: inline-block;
  }
  .footer .footerInner .footerThree .desktopSection {
    display: none;
  }
}
@media (max-width: 769px) {
  .footer .footerInner .footerThree:nth-child(1n) {
    text-align: center;
  }
}
.footer .footerInner .footerThree img {
  width: 40%;
}
@media (max-width: 768px) {
  .footer .footerInner .footerThree img {
    width: 20%;
  }
}
.footer .footerInner .footerThree p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.footer .footerInner .footerThree .footerPara {
  color: #fff;
  font-size: 13px;
  font-weight: 100;
}
.footer .footerInner .footerThree .socialIcons {
  font-size: 25px;
}
.footer .footerInner .footerThree .partners {
  margin-top: 20px;
}
.footer .footerInner .footerThree .partners h5 {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.footer .footerInner .footerThree .partners img {
  width: 7%;
  margin-right: 5px;
}
.footer .footerInner .footerThree .footerLinks {
  margin-bottom: 30px;
  margin-top: 30px;
  list-style-type: none;
}
@media (min-width: 768px) {
  .footer .footerInner .footerThree .footerLinks {
    padding-left: 60px;
  }
}
.footer .footerInner .footerThree .footerLinks h5 {
  font-weight: 900;
  text-transform: uppercase;
}
.footer .footerInner .footerThree .footerLinks p {
  margin-bottom: -10px;
  font-weight: 100;
}
.footer .footerInner .footerThree .footerLinks p a {
  color: #fff;
  text-decoration: none !important;
}
.footer .footerInner .footerThree .footerLinks .searchBar {
  margin-top: 50px;
}
.footer .footerInner .footerThree .footerLinks .searchBar input {
  width: 75%;
  height: 30px;
  border-color: #5f5f5f;
  padding: 3px;
  font-style: italic;
}
.footer .footerInner .footerThree .languageOption {
  margin-top: 30px;
}
.footer .footerInner .footerThree .languageOption h5 {
  font-weight: 900;
  text-transform: uppercase;
}
.footer .footerInner .footerThree .languageOption .language {
  display: inline-block;
  margin-top: 30px;
  margin-right: 10px;
  font-size: 25px;
  font-weight: 900;
  color: #000;
}
.footer .footerInner .footerThree .languageOption .active {
  color: #fff;
}
.footer .footerInner .footerThree .payment {
  margin-top: 80px;
}
.footer .footerInner .footerThree .payment h5 {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.footer .footerInner .footerThree .payment img {
  width: 60%;
}
.footer .footerInner .copyright {
  margin-top: 20px;
}
.footer .footerInner .copyright hr {
  background-color: #5f5f5f;
  border-color: #5f5f5f;
  margin-bottom: 5px;
}
.footer .footerInner .copyright p {
  color: #5f5f5f;
  font-weight: 900;
  text-transform: uppercase;
}
