<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 footer__content text-center">
        <h4>More from me</h4>
        <p>
          <a href="https://codepen.io/E-nathan/" target="_blank" class="codepen-link"><i class="fa fa-codepen" aria-hidden="true"></i></a> &nbsp;
          <a href="https://github.com/Eli-Nathan/new-site/settings" target="_blank" class="github-link"><i class="fa fa-github" aria-hidden="true"></i></a> &nbsp;
          <a href="https://www.linkedin.com/in/eli-nathan-08311aab/" target="_blank" class="linkedin-link"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> &nbsp;
          <a href="https://dribbble.com/Eli-Nathan" target="_blank" class="dribbble-link"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 footer__bottom">
        <p class="text-center">Copyright Elijah Nathan &copy; {{ 'now' | date: "%Y" }}. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
