.footer {
  &__content {
    padding: $spacer*3 0;

    a {
      color: #333;
      font-size: 24px;
    }

    .linkedin-link {
      color: #0077B5;
    }

    .dribbble-link {
      color: #C32361;
    }
  }
  &__bottom {
    border-top: 1px solid #e5e5e5;
    padding-top: $spacer;
  }
}
