.intro-section {
  padding: $spacer 0;
  @include media-breakpoint-up(sm) {
    padding: $spacer*3 0;
  }

  .me-intro {
    &__image {
      img {
        width: 20%;
        @include media-breakpoint-up(sm) {
          width: 100%;
        }
      }
    }

    &__text {
      text-align: center;
      @include media-breakpoint-down(sm) {
        padding-top: $spacer;
      }
      @include media-breakpoint-up(sm) {
        text-align: left;

        br {
          display: none;
        }
      }

      h1 {
        font-size: 30px;
      }
    }
  }

  .about-me {
    padding-top: $spacer * 1.5;

    p {
      margin-bottom: auto;

      &:last-child {
        margin-top: $spacer;
      }
    }
  }
}

.tech-stack {
  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-left: 0;
    }
  }

  .fa-star {
    &--legendary {
      color: #37C976;
    }

    &--good {
      color: #BBDE66;
    }

    &--learning {
      color: #DAA85C;
    }
  }
}

.home-pf {
  padding: $spacer*3 0;

  &__heading {
    h3 {
      font-size: 22px;
      padding-bottom: $spacer;
    }
  }

  &__cards {
    .work-card {
      background: #fff;
      border: 1px solid $green;
      border-radius: 3px;
      margin-bottom: $spacer;
      @include media-breakpoint-up(md) {
        transition: 0.2s;

        &:hover {
          transform: scale(1.05);
        }
      }

      a {
        color: #616161;
        text-decoration: none;
      }

      &__image {
        overflow: hidden;
        img {
          width: 100%;
        }
      }

      &__text {
        padding: $spacer 0;

        h4,
        p {
          text-align: center;
        }

        h4 {
          font-size: 18px;
        }

        p {
          font-size:16px;
        }
      }
    }
  }
}

.home-news {
  padding-bottom: $spacer*2 0;

  &__heading {
    h3 {
      font-size: 22px;
      padding-bottom: $spacer;
    }
  }

  .news-card {
    padding-bottom: $spacer*1.5;

    img {
      padding-bottom: $spacer*.5;
    }

    a {
      color: #333;
      text-decoration: none;
    }

    p {
      font-size: 14px;
    }
  }
}
