@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #fafafa;
  color: #333;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h5,
h6 {
  font-weight: 400;
}

p, li {
  font-weight: 300;
}

a {
  color: $green;
}

.btn {
  &--default {
    background: $red;
    color: $white;

    &:hover {
      color: #fff;
      background: darken($red, 10%);
    }
  }

  &--facebook {
    border: 1px solid #3B5998;
    color: #333;

    &:hover {
      color: #fff;
      background: #3B5998;
    }
  }

  &--linkedin {
    border: 1px solid #0077B5;
    color: #333;

    &:hover {
      color: #fff;
      background: #0077B5;
    }
  }

  &--twitter {
    border: 1px solid #1DA1F2;
    color: #333;

    &:hover {
      color: #fff;
      background: #1DA1F2;
    }
  }
}
