nav.navbar {
  background: #fff;

  .navbar-brand {
    color: #233;
  }
  .navbar-toggler {
    background:#eee;
    color:#333;
  }
  ul {
    li {
      @include media-breakpoint-up(sm) {
        margin-left : $spacer*.5;
        margin-right : $spacer*.5;
      }
      a.nav-link {
        color: $text;
      }
    }
  }
}
