nav.navbar {
  background: #fff;

  .navbar-brand {
    color: #2a2a2a;
  }
  .navbar-toggler {
    background:#eee;
    color:#333333;
  }
  ul {
    li {
      a.nav-link {
        color: $text;
      }
    }
  }
}
